shared_folders:
	- temp
	- log
hooks:
	after_receive:
		- "composer install"
	before_deploy:
	after_deploy:
		- "php cli odm:clear-cache:metadata"
		- "php cli odm:generate:hydrators"
		- "php cli odm:generate:proxies"