{block page}
<a class="btn btn-danger btn-large popover-enabled" rel="popover" data-original-title="Warning" data-content="All messages and translations will be removed" href="">
	<i class="icon-white icon-remove"></i>Empty messages</a>
	
<a class="btn btn-danger btn-large popover-enabled" rel="popover" data-original-title="Warning" data-content="All messages and translations will be removed" href="">
	<i class="icon-white icon-remove"></i>Delete project</a>	