{block page}
<a class="btn btn-danger btn-large popover-enabled" rel="popover" data-original-title="Warning" data-content="All messages and translations will be removed" href="">
	<i class="icon-white icon-remove"></i>&nbsp;Empty messages</a>
	
<a class="btn btn-danger btn-large popover-enabled" rel="popover" data-original-title="Warning" data-content="Project and all related messages and translations will be removed" href="">
	<i class="icon-white icon-remove"></i>&nbsp;Delete project</a>	