<ul class="nav nav-tabs">
	<li {ifCurrent default}class="active"{/ifCurrent}>
		<a n:href="default">Info</a>
	</li>
	
	<li {ifCurrent translations}class="active"{/ifCurrent}>
		<a n:href="translations">Translations</a>
	</li>
	
	<li {ifCurrent admin}class="active"{/ifCurrent}>
		<a n:href="admin">Admin</a>
	</li>
	
	<li class="{ifCurrent danger}active{/ifCurrent} pull-right">
		<a n:href="danger">Danger</a>
	</li>
</ul>