#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		app:
			name: watchdog

		admin:
			scriptFolder: %appDir%/AdminModule/scripts

		database:
			dbname: mazagran

		mail:
			from: 'postmaster@mazagran.mailgun.org'
			fromName: Mazagran

		pusher:
			appId: '19294'
			apiKey: 'bf1aa9a75ae923eaadbf'
			secret: 'aa7c879e53c77fa43776'

		ironmq:
			token: 'R7d3Ti3xJbt13uaBcq-XPyKJyks'
			projectId: '4f9e9837f0b1990273005e29'

	php:
		date.timezone: Europe/Bratislava
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes

	nette:
		session:
			autoStart: smart
			expiration: '+365 days'
		mailer:
			smtp: true
			host: smtp.mailgun.org
			port: 587
			secure: tls
			username: postmaster@mazagran.mailgun.org
			password: 4cvn7bvdye05

	documentManagerExtension:
		documentsDir: %appDir%/models/documents
		proxyDir: %appDir%/models/proxies
		hydratorDir: %appDir%/models/hydrators
		dbname: 'mazagran'
		uri: 'mongodb://mazagran:DCQC7kJv25pFeUw@ds037007.mongolab.com:37007/mazagran'
		cachePrefix: mazagran
		metaDataCacheClass: '\Doctrine\Common\Cache\ApcCache'

	redis:
		storage: on # nutné pro překrytí storage
		journal: on # nutné pro překrytí journalu
		session: on # nutné pro nastavení session handleru

	services:

		passwordHasher:
			class: \Phpass\Hash

		keyGenerator:
			class: \Services\KeyGenerator

		userFacade:
			class: \Facades\User(@documentManager, @passwordHasher)

		projectFacade:
			class: \Facades\Project(@documentManager, @keyGenerator)

		translationFacade:
			class: \Facades\Translation(@documentManager)	

		messageFacade:
			class: \Facades\Message(@documentManager)		
      
		logService:
			class: \Services\LogService(@documentManager, @pusher)
      
		pusher:
			class: \Pusher(%pusher.apiKey%, %pusher.secret%, %pusher.appId%)  

		ironMQ:
			class: \Iron\IronMQ(['token' = %ironmq.token%, 'project_id' = '%ironmq.projectId%'])

		authenticator:
			class: Authenticator(@documentManager::getRepository(User), @passwordHasher)

		adminAuthenticator:
			class: AdminAuthenticator(@documentManager::getRepository(Admin), @passwordHasher)
			#autowired: false

		
	factories:

production < common:
	redis:
		storage: on # nutné pro překrytí storage
		journal: on # nutné pro překrytí journalu
		session: on # nutné pro nastavení session handleru
		host: tunnel.pagodabox.com
		port: 6379
development < common:

local < common: