extensions:
	mongo: Bazo\MongoDb\DI\DocumentManagerExtension
	odmCommands: Bazo\MongoDb\DI\DoctrineODMCommandsExtension
	#translation: Kdyby\Translation\DI\TranslationExtension
	console: Kdyby\Console\DI\ConsoleExtension
	monolog: Bazo\Monolog\DI\MonologExtension
	#mediator: Bazo\Mediator\DI\MediatorExtension
	#translation: \Mazagran\Translation\DI\Extension

console:
	name: Translation CLI
	version: 0.2.0