{block content}
<section>
	<h2>Registration confirmation</h2>
	
	{if $tokenUsed === false}
	<p>Yout registration has been confirmed. Please <a n:href="sign:in">sign in</a> to continue.
	</p>
	{else}
	<p>Token invalid or has been already used.</p>
	{/if}
</section>