<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Translation UI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<link href="{$baseUri}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">

		</style>
		<link href="{$baseUri}/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="{$baseUri}/css/app.css" rel="stylesheet">

		{block #head}{/block}
		<link rel="shortcut icon" href="/favicon.png">
	</head>

	<body>

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">

					<a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>

					<a class="brand" href="{link Dashboard:}">Translation UI</a>

					<div n:if="$user->isLoggedIn()" class="btn-group pull-right">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<img src="http://www.gravatar.com/avatar/{$me->getGravatar()}?s=20" style="position:relative; top: -1px; left: -5px" />&nbsp;
					{if $me->getNick() !== NULL and $me->getNick() !== '' }{$me->getNick()}{else}{$me->getEmail()}{/if}
					<span class="caret"></span>
				</a>
				<ul  class="dropdown-menu">
					{*<li><a href="#">Profile</a></li>
					<li class="divider"></li>
					*}
					<li><a n:href="logout!">Sign Out</a></li>
				</ul>
			</div>

			<div  n:if="!$user->isLoggedIn()" class="pull-right">
				<a class="btn btn-primary" n:href="Register:">
					Register
				</a>

				<a class="btn btn-primary" n:href="Sign:In">
					Login
				</a>
			</div>

			<nav  class="nav-collapse">
				<ul id="nav" class="nav">
					{if $user->isLoggedIn()}
						<li {ifCurrent Dashboard:}class="active"{/ifCurrent}><a n:href="Dashboard:"><i class="icon-home icon-white"></i>Dashboard</a></li>
						<li {ifCurrent Projects:}class="active"{/ifCurrent}><a n:href="Projects:"><i class="icon-white icon-leaf"></i>Projects</a></li>
						<li {ifCurrent Translations:}class="active"{/ifCurrent}><a n:href="Translations:"><i class="icon-white icon-globe"></i>Translations</a></li>
						{/if}
						{*<li><a n:href="downloads:"><i class="icon-white icon-download"></i>Downloads</a></li>	*}
				</ul>
			</nav><!--/.nav-collapse -->
        </div>
	</div>
</div>

<div class="container-fluid">
	<section>

		<div class="row-fluid">
			<div class="span2">
				{block #aside}
				{if $user->isLoggedIn()}
					{include 'aside.latte'}
				{/if}
				{/block}
			</div>

			<div class="span10">
				<div class="row">
					{snippet flash}
						{foreach $flashes as $flash}
							<div class="alert alert-{$flash->type}">
								<a class="close" data-dismiss="alert">×</a>
								<h4 style="text-transform: capitalize">{$flash->type}!</h4>

								{!$flash->message}
							</div>
						{/foreach}
					{/snippet}
				</div>
				<div class="row">
					{include #content}
				</div>
			</div>
		</div>
	</section>

	<script type="text/javascript" src="{$baseUri}/js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="{$baseUri}/js/nette.ajax.js"></script>
	<script type="text/javascript" src="{$baseUri}/bootstrap/js/bootstrap.min.js"></script>
	{*<script type="text/javascript" src="{$baseUri}/js/netteForms.js"></script>*}
	<script type="text/javascript" src="{$baseUri}/js/timeago.js"></script>
	<script type="text/javascript" src="{$baseUri}/js/app.js"></script>

	{block script}{/}
</body>
</html>
