<div id="{$log->getId()}"  class="log alert alert-{$log->getLevel()}">
	<h2>
		<a n:href="apps:app id => $log->getApp()->getId()">{$log->getApp()->getCaption()}</a>
		<span class="badge badge-inverse">{$log->getCount()}</span>
		<small class="pull-right">{$log->getAdded()|date:'d.m.Y H:i:s'}</small> 
	</h2>
	<div class="message">
		{$log->getMessage()}
	</div>
</div>
