html{
	min-height: 100%;
}
body{
	height: 100%;
}

#nav i{
	margin-right: 5px;
}
a i{
	position: relative;
	top: 1px;
}

#message-list{
	position: fixed;
}

.message{
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.message .nav-tabs{
	margin-bottom: 0px;
	border-bottom: none;
}

textarea.translation{
	width: 99%;
	height: 95px;
	padding: 0;
	margin: 0;
	
	padding-top: 2px;
	padding-left: 2px;
	border-radius: 0px 0px 3px 3px;
}

footer{
	bottom: 0;
	clear: both;
	width: 100%;
}