{block content}
{include 'tabs.latte'}
{control formCron}

<table>
{foreach $entries as $entry}
	<tr>
		<th>{$entry->render(false)}</th><td><a n:href="deleteCronEntry! entry => $entry->render(false)">delete</a></td>
	</tr>	
{/foreach}
</table>