{block content}
{include 'tabs.latte'}

    <table class="table table-striped table-bordered">
		<tr>
			<th>Nette framework:</th><td>{$netteVersion}</td>
		</tr>
		<tr>
			<th>App revision:</th><td>{$revision}</td>
		</tr>
		
		<tr n:foreach="$vars as $varName => $var">
			<th>{$varName}</th> <td n:if="is_bool($var)">{$var === true ? 'enabled' : 'disabled'}</td>
			<td n:if="!is_bool($var)">{$var}</td>
		</tr>
    </table>